@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

    margin: 0;
    padding: 0;
}

:root {
    --blue: rgb(26, 57, 87);
    --white: rgb(236, 236, 236);
}

html {
    /* 1rem = 10px */
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
}
