/* Positioning */
/* Display & Box Model */
/* Color */
/* Text */
/* Other */

$text-main-color: #1a2b5f;
$text-yellow-color: #ffc87a;
$bg-yellow-color: #ffdb7b;

@mixin FlexCustom($flexDirection: row, $justifyContent: center, $alginItem: center, $flexWrap: unset) {
    display: flex;
    flex-direction: $flexDirection;
    justify-content: $justifyContent;
    align-items: $alginItem;
    flex-wrap: $flexWrap;
}

@mixin ButtonCustom($background: #fff) {
    /* Display & Box Model */
    padding: 1.5rem 2rem;
    border-radius: 2rem;
    background: $background;
    min-width: 10rem;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;

    margin-bottom: 50px;

    color: $text-main-color;

    a,
    button {
        color: $text-main-color;
    }

    button {
        cursor: pointer;
    }

    .text-yellow {
        color: $text-yellow-color;
    }

    ul {
        list-style-type: none;
    }

    .container {
        max-width: 1170px;
        margin: 0 auto;

        .header {
            @include FlexCustom(row, space-between);

            padding-top: 3rem;
            padding-bottom: 13rem;
            .header__left {
            }
            .header__right {
                ul {
                    @include FlexCustom();

                    li {
                        margin: 0 2.5rem;

                        button {
                            @include ButtonCustom();
                        }
                    }

                    .header__right--icon {
                        i {
                            margin-left: 0.8rem;
                        }
                    }
                }
            }
        }

        .hero {
            @include FlexCustom(column);
            .hero__logo {
                h1 {
                    font-size: 4.2rem;
                }
            }
            .hero__description {
                //display & box model
                max-width: 35rem;
                margin: 3rem 0 4rem;

                //text
                text-align: center;
                font-weight: 300;
            }
            .hero__btn {
                button {
                    @include ButtonCustom();

                    border: thin solid currentColor;
                    font-weight: 600;
                    font-size: 1.5rem;
                }

                .bg-yellow {
                    background: $bg-yellow-color;
                    border: none;

                    margin-left: 2.5rem;
                    box-shadow: 0px 10px 10px #f7f2d6;
                }
            }
        }

        .card-box {
            background: #fff3f5;
            @include FlexCustom(row, space-between, stretch, wrap);

            .card {
                width: calc(25% - 22.5px);
                background: #fff;
                padding: 0 25px;

                .card__content {
                    margin-top: auto;
                    margin: 4rem 0;

                    .card__content--title {
                        font-weight: 600;
                        font-size: 2.2rem;
                        margin-bottom: 2.5rem;
                    }

                    .card__content--read-more {
                        font-weight: 300;

                        i {
                            margin-left: 2rem;
                        }
                    }
                }

                .card__img-box {
                    margin-top: 15px;
                    display: flex;

                    img {
                        width: 22rem;
                        height: 23rem;
                        object-fit: cover;
                        border-radius: 2.7rem;
                    }
                }
            }
        }

        .subscribe-box {
            display: flex;
            justify-content: space-between;
            padding: 18rem 0 8rem;

            .subscribe__left {
                max-width: 42rem;
            }
            .subscribe__right {
                flex: 1;
                margin-left: 10rem;

                .form-subscribe {
                    height: 6rem;
                    background: #f2f1f6;

                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    padding: 0 2.5rem;
                    input {
                        border: none;
                        background: transparent;
                    }
                }

                .social {
                    padding: 4.5rem 0 8.5rem;

                    ul {
                        display: flex;
                        i {
                            margin-left: 4rem;
                        }
                    }
                }
            }
        }

        .about-box {
            padding: 5.5rem 0 20rem;
            border-top: 4px solid #152c70;

            .about {
                display: flex;
                justify-content: space-between;

                .about__item {
                    ul {
                        li {
                            margin-bottom: 3rem;
                        }
                    }
                }
            }
        }

        .footer-box {
            border-top: 2px solid #a9aec2;
            padding-top: 3rem;
            display: flex;
            justify-content: space-between;

            .footer-left {
                ul {
                    display: flex;
                    li {
                        margin-right: 2rem;
                    }
                }
            }
        }
    }
}
